fastapi
uvicorn
pydantic
PyMuPDF
pdfplumber
spacy
sentence-transformers
pytesseract
python-docx
numpy
scikit-learn
python-multipart
aiofiles
pillow
torch
sqlalchemy
passlib
python-jose[cryptography]==3.3.0
google-generativeai
reportlab